#portfolio {
    max-width: 100%;
}
.portfolio__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
  justify-items: center;
  width: 100%;
}

.portfolio__item {
  background: var(--color-bg-variant);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

@media (hover: hover) {
  .portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
  }
}

.portfolio__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}

.portfolio__item h3 {
  margin: 1.2rem 0 2rem;
}

.portfolio__item-cta {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 0.5rem;
  margin-bottom: 1rem;
  justify-items: center;
}

.portfolio__item-cta > a {
  font-size: 0.8rem;
  text-align: center;
}

@media (min-width: 40em) {
 
  .portfolio__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding: 0 2rem;
    max-width: 100%;
  }

  .portfolio__item-cta > a {
    font-size: 80%;
    text-align: center;
  }
}
