#about {
  margin-top: 2rem;
}
.about__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  align-items: center;
}

.about__me {
  padding: 3rem 3rem 0 3rem;
}

.about__me-image {
  border-radius: 50%;
  overflow: hidden;
  transition: var(--transition);
  max-width: 25rem;
  max-height: 25rem;
  display: flex;
  align-items: center;
  aspect-ratio: 1/1;
  filter: drop-shadow(0 0 0.75rem #444444);}

.about__content {
  box-sizing: border-box;
}

#full-stack {
  display: inline-block;
  position: relative;
  color: var(--color-bg);
  -webkit-text-stroke: 0.1vw rgb(124, 124, 124);
  text-transform: uppercase;
  white-space: nowrap;
}

#full-stack::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #466c85;
  -webkit-text-stroke: 0vw rgb(124, 124, 124);
  border-right: 2px solid #466c85;
  overflow: hidden;
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

.about__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 2rem 0;
  justify-items: center;
}

.about__card {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 0.75rem;
  text-align: center;
  transition: var(--transition);
  max-width: 150px;
  min-height: 170px;
}

@media (hover: hover) {
  .about__card:hover {
    background: transparent;
    border-color: #B5B5B5;
  }
}

.about__card-image {
  border-radius: 1rem;
  overflow: hidden;
}

.about__card h5 {
  font-size: 0.95rem;
}

.about__card small {
  font-size: 0.7rem;
  /* color: var(--color-light); */
}

.about__content p {
  margin: 0 0 2rem;
  /* color: var(--color-light); */
}

/* ============== CTA ============== */

.cta {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

@media (min-width: 40em) {
  .about__container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 3%;
    padding: 0 2rem;
    align-items: start;
  }

  .about__salut {
    order: 1;
    padding: 5rem 0 0 2rem;
    font-size: 100%;
  }

  .about__me {
    order: 2;
    padding: 3rem 3rem;
  }

  .about__content {
    order: 1;
    padding: 4rem 0 0 0;
  }

  .about__cards {
    gap: 5%;
  }

  .about__card {
    max-width: 130px;
    min-height: 180px;
  }
}

@media (min-width: 70em) {
  .about__container {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    font-size: 2rem;
  }

  .about__me {
    max-width: fit-content;
  }

  .about__content {
    padding: 5rem 0 0 5rem;
  }

  .about__content > p {
    font-size: 1.2rem;
  }

  .about__cards {
    display: flex;
    padding: 2rem 10rem 2rem 0rem;
    gap: 2;
  }

  .about__card {
    margin: 0;
    max-width: 200px;
  }

  .cta {
    font-size: 1rem;
  }
}
